/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
database/seeders/UserSeeder.php
bootstrap/cache/*.php
!bootstrap/cache/.gitignore
public/build/
scripts/zoolyx-scraper/downloads/
scripts/zoolyx-scraper/debug_after_login.png
scripts/zoolyx-scraper/*.deb
scripts/zoolyx-scraper - Copie/
*.crt
*.pfx
